---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import BookGrid from '../components/BookGrid.astro';
import DigitalSection from '../components/DigitalSection.astro';
import Features from '../components/Features.astro';
import Distribution from '../components/Distribution.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Penerbit Luqmanulhakim - Beranda">
  <Header />
  <main>
    <Hero />
    <BookGrid />
    <DigitalSection />
    <Features />
    <Distribution />
    <Contact />
  </main>
  <Footer />
</Layout>